:root {
  --md-admonition-icon--calendar: url(icons/calendar.svg);
}

.block-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

[data-release="alpha"] > header[data-md-component="header"]::after {
  --image-width: 100px;
  --image-height: 62px;

  content: "";

  background-image: url("../../assets/images/alpha-label.svg");
  background-size: var(--image-width) var(--image-height);
  width: var(--image-width);
  height: var(--image-height);

  position: absolute;
  right: 0;
}

header[data-md-component="header"] {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.md-nav__item .md-nav__link--index [href] {
  font-weight: 700;
}


#releaseTypeWrapper {
  display: contents;
}

.video-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.video-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.color-black {
  color: black;
}

.font-size-large {
  font-size: large;
}

.icon-list {
  display: grid;

  grid-template-columns: max-content 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;

  align-items: center;
}

.icon-list > .icon-list-item:nth-child(odd) {
  grid-column: 1;
}

.icon-list > .icon-list-item:nth-child(even) {
  grid-column: 2;
}

.grid-ratio-40-60 {
  display: grid;

  grid-template-columns: 2fr 3fr;
}

.md-typeset .admonition.calendar,
.md-typeset details.calendar {
  border-color: rgb(43, 155, 70);
}
.md-typeset .calendar > .admonition-title,
.md-typeset .calendar > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .calendar > .admonition-title::before,
.md-typeset .calendar > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--calendar);
          mask-image: var(--md-admonition-icon--calendar);
}

.block-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header[data-md-component="header"] {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

  div.figure-container {
    display: inline-block;
  }
  
  figure.legend {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    align-items: center;
  }
  
  figure.legend img {
    margin-right: 10px;
  }
  
  .md-typeset a.underline-hover {
    position: relative;
    text-decoration: none;
  }
  
  .md-typeset a.underline-hover img {
    transition: transform 0.3s ease-in-out;
    width: 200px;
  }
  
  .md-typeset a.underline-hover:hover img {
    transform: scale3d(1.3, 1.3, 1);
    cursor: pointer;
  }
  
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .md-typeset a.underline-hover img {
      transition: none;
      width: 200px;
    }
  
    .md-typeset a.underline-hover:hover img {
      transform: none;
    }
  }


  /* Navigation pane */
  /* Increases the indent on the nav bar. */
  .md-nav__item {
    padding: 0 0.6rem !important;
  }

  /* .md-nav__item .md-nav__link--index [href] {
    font-weight: 700;
  } */

  /* Adds a vertical line in the nav bar when a section is expended. */
  .md-nav__item .md-nav__item--active {
    border-left: solid var(--md-accent-fg-color);
  }
  
  /* Hides the title at the top of the nav bar. */
  .md-nav__title {
    font-size: 0rem;
  }
  